@import url('https://fonts.googleapis.com/css2?family=Hanuman&display=swap');
@import "_reset";

$small: 480px;
$medium: 768px;
$large: 992px;


.wrapper {
    min-height: 100vh;
}
.container {
    padding: 100px 30px;
    max-width: 1200px;
    margin: 0 auto;
    @media (max-width: $large) {
        padding: 40px 10px;
    }
}
.menu{
    margin-bottom: 30px;
    &__link{
        padding: 20px;
        font-size: 1.2rem;
        color: #FFFFFF;
        background: #4d15e8;
        &:hover{
            background: #380faa;
        }
    }
}
.catalog {
    &__items {
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 20px;
        
        @media (max-width: $large) {
            grid-template-columns: repeat(3, auto);
        }
        @media (max-width: 768px) {
            grid-template-columns: repeat(2, auto);
            justify-content: center;
        }
        @media (max-width: $small) {
            grid-template-columns: repeat(1, auto);
        }
    }
}
.item {
    max-width: 260px;
    padding: 17px;
    font-family: 'Hanuman', serif;
    border: 1px solid #D9D9D9;
    transition: box-shadow 0.2s ease-in 0s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: $large) {
        width: 210px;
        padding: 8px;
    }
    &:hover{
        -webkit-box-shadow: 5px 5px 30px 3px rgba(0,0,0,0.5); 
        box-shadow: 5px 5px 30px 3px rgba(0,0,0,0.5);
    }
    &__picture {
    }
    &__tags {
        display: flex;
        gap: 13px;
        margin: 9px 0;
    }
    &__tag {
    }
    &__tag[best] {
        color: #09AD10;
    }
    &__tag[sale] {
        color: #E8152E;
    }
    &__title {
        font-size: 1.2rem;
        @media (max-width: $large) {
            font-size: 1rem;
        }
        & a{
            color: #000000;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &__top{
    }
    &__bottom {
        padding-top: 12px;
        display: grid;
        column-gap: 5px;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        @media (max-width: $large) {
            grid-template-columns: 1fr;
            margin-bottom: 5px;
        }
    }
    &__price {
    }
    &__price-actual {
        font-size: 1.5rem;
        color: #E8152E;
    }
    &__price-old {
        font-size: 1rem;
        color: #838383;
        text-decoration-line: line-through;
        margin-top: -8px;
    }
    &__button {
        height: 33px;
        display: block;
        text-align: center;
        font-size: 1rem;
        color: #FFFFFF;
        background: #E8152E;
        padding: 6px 26px;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.2s ease-in 0s;
        &:hover{
            background-color: #FFFFFF;
            border: 1px solid #E8152E;
            color: #E8152E;
        }
    }
    &__id{
        padding-top: 5px;
        color: #AAAAAA;
        font-size: 0.8rem;
    }
}

